
#numberBar {
    display: flex;
    justify-content: center;
    background-color: rgba(211, 169, 113, 1);
    height: 80px;
    align-items: center;
}

#numberBar p{
    font-size: 24px;
    margin:3px 0px 0px 5px;
}

#numberBar img{
    height: 32px;
}

#headerMain {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 250px;   
}

#desktopHeaderButtons {
    display: none;
}

main{
    background-color: rgba(211, 169, 113, 0.5);
    padding: 30px 0px;
}


#opener {
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 24px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2), 0px -2px 3px rgba(0, 0, 0, 0.2) ;
    background-color: white;
}

#serving {
    background-color: white;
    margin: 30px 0px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2), 0px -2px 3px rgba(0, 0, 0, 0.2) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
}

#serving ul {
    list-style: none;
    padding: 0px;
    text-align: center;
    font-size: 16px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 5px;
    padding: 10px;
}

#serving li {
    border: 1px rgba(211, 169, 113, 1) solid;
    border-radius: 10px;
    padding: 3px;
    background-color: rgba(211, 169, 113, 1);
    font-size: 24px;
}

#scheduleBtnCtrMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

#scheduleBtnCtrMobile button {
    background-color: rgba(211, 169, 113, 1);
    border: 1px rgba(211, 169, 113, 1) solid;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    font-size: 24px;

}

#services {
    background-color: white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2), 0px -2px 3px rgba(0, 0, 0, 0.2) ;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
}

.cardDesktop {
    display: none;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    margin: 10px 0px;
    border: 1px rgba(211, 169, 113, 1) solid;
    gap: 5px;
    border-radius: 10px;
    background-color: rgba(211, 169, 113, 1);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}

.card img {
    max-height: 100px;
}

#scheduleBtnCtrDesktop {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

#scheduleBtnCtrDesktop button {
    background-color: rgba(211, 169, 113, 1);
    border: 1px rgba(211, 169, 113, 1) solid;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    font-size: 24px;

}

#contactMobile {
    background-color: white;
    margin-top: 30px;
    text-align: center;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2), 0px -2px 3px rgba(0, 0, 0, 0.2) ;
    padding: 20px 10px;
    font-size: 20px;
}

#contactDesktop {
    display: none;
}

#desktopQuote {
    display: none;
}

footer {
    display: flex;
    height: 200px;
    background-color: black;
    justify-content: center;
}

@media (width >= 1000px) {

    #numberBar {
        height: 50px;
    }

    #numberBar p {
        display: none;
    }

    #numberBar img{
        display: none;
    }

    #headerMain {
        justify-content: space-between;
        padding-left: 150px;
        padding-right: 150px;
    }

    .headerDesktop {
        display: block;
        font-size: 24px;
    }

    #desktopHeaderButtons {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .desktopNumber {
        background-color: rgba(211, 169, 113, 1);
        padding: 20px 10px;
        border-radius: 10px;
    }

    .desktopButton {
        padding: 20px 10px;
        background-color: rgba(211, 169, 113, 1);
        border-radius: 10px;
        border: 0px;
    }

    .desktopButton:hover {
        background-color: rgba(211, 169, 113, 1);
    }

    #opener {
        background-image: url(./images/ChatGPT\ Image\ Apr\ 15\,\ 2025\,\ 11_19_55\ AM.png) !important;
        height: 400px;
        background-size: cover;
        align-items: center;
        justify-content: center;
    }

    #opener p {
        background-color: rgba(0, 0, 0, 0.5) ;
        color: white;
        font-size: 32px;
        padding: 10px 50px;
    }

    #serving ul {
        gap: 20px;
        font-size: 32px;
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
    }

    #serving li {
        font-size: 32px;
    }

    #scheduleBtnCtrMobile {
        display: none;
    } 

    #scheduleBtnCtrDesktop {
        display: flex;
    }

    #scheduleBtnCtrDesktop button:hover {
        background-color: white;
    }

    #services {
        gap: 50px;
        display: grid;
        grid-template: .5fr 1fr 1fr 1fr 1fr/  800px;
        justify-content: center;
        padding:30px 0px;
    }

    #services h2 {
        font-size: 48px;
        background-color: rgba(211, 169, 113, 1);
        padding: 30px;
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2) ;
    }

    .card {
        display: none;
    }

    .cardDesktop {
        display: flex;
        height: 300px;
        align-items: center;
        justify-content: space-evenly;
        background-color: rgba(211, 169, 113, 1);
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2) ;
        
    }

    .cardDesktop img {
        height: 200px;
        width: 200px;
    }

    .cardDesktop .mobileHome {
        width: 250px;
    }

    .cardDesktop div{
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        gap: 40px;
    }

    .cardDesktop p {
        padding: 20px 5px 0px 5px;
        font-size: 24px;
        border-bottom: 2px black solid;
    }

    .cardDesktop ul {
        list-style: none;
        padding: 0px;
    }

    .cardDesktop li {
        font-size: 20px
    }

    #contactMobile {
        display: none;
    }

    #contactDesktop {
        display: block;
        background-color: white;
        margin: 30px 0px;
        text-align: center;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2), 0px -2px 3px rgba(0, 0, 0, 0.2) ;
        padding: 20px 10px;
        font-size: 20px;
    }

    #contactDesktop ul {
        list-style: none;
        padding: 0px;
    }

    #desktopQuote {
        display: flex;
        background-color: white;
        align-items: center;
        justify-content: center;
        padding-top: 10px;

    }

    #desktopQuote form {
        display: grid;
        grid-template: 50px 50px 130px 50px / 70px 300px;
        align-items: center;
        justify-content:flex-end;
        gap: 30px;
        text-align: center;
        border: 1px black solid;
        padding: 20px;
        background-color: rgba(211, 169, 113, 0.5);
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2), 0px -2px 3px rgba(0, 0, 0, 0.2) ;
    }

    form button {
        grid-area: 4 / 1 / 5 / 3;
        justify-self: center;
        padding: 5px 50px;
        background-color: rgba(211, 169, 113, 1);
        border: 1px rgba(211, 169, 113, 1) solid;
        border-radius: 10px;
        box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
        font-size: 24px;
    }

    form button:hover {
        background-color: white;
    }

    #message {
        resize: none;
    }
    footer {
        justify-content: space-around;
        padding: 0px 0px 0px 0px;
        height: 300px;
    }

    #payments {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        align-items: center;
        justify-content: center;
    }

    #payments h4 {
        width: 300px;
        font-size: 32px;
        background-color: rgba(211, 169, 113, 1);
        text-align: center;
    }

    #payments ul {
        list-style: none;
        padding: 0px;
        background-color: rgba(211, 169, 113, 1);
        width: 300px;
    }

    .paymentTypes {
        background-color: rgba(211, 169, 113, 1);
        font-size: 20px;
        text-align: center;
    }

}
