
#numberBar {
    display: flex;
    justify-content: center;
    background-color: rgba(211, 169, 113, 1);
    height: 80px;
    align-items: center;
}

#numberBar p{
    font-size: 24px;
    margin:3px 0px 0px 5px;
}

#numberBar img{
    height: 32px;
}

#headerMain {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 250px;   
}

#desktopHeaderButtons {
    display: none;
}

main{
    background-color: rgba(211, 169, 113, 0.5);
    padding: 30px 0px;
}


#opener {
    padding:10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 24px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2), 0px -2px 3px rgba(0, 0, 0, 0.2) ;
    background-color: white;
}

#serving {
    background-color: white;
    margin: 30px 0px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2), 0px -2px 3px rgba(0, 0, 0, 0.2) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
}

#serving ul {
    list-style: none;
    padding: 0px;
    text-align: center;
    font-size: 16px;
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    gap: 5px;
    padding: 10px;
}

#serving li {
    border: 1px #D4FAFA solid;
    border-radius: 10px;
    padding: 3px;
    background-color: #D4FAFA;
    font-size: 24px;
}

#scheduleBtnCtrMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

#scheduleBtnCtrMobile button {
    background-color: #D4FAFA;
    border: 1px #D4FAFA solid;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    font-size: 24px;

}

#services {
    background-color: white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2), 0px -2px 3px rgba(0, 0, 0, 0.2) ;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
}

.cardDesktop {
    display: none;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
    margin: 10px 0px;
    border: 1px #D4FAFA solid;
    gap: 5px;
    border-radius: 10px;
    background-color: #D4FAFA;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    font-size: 20px;
}

.card img {
    max-height: 100px;
}

#scheduleBtnCtrDesktop {
    display: none;
    justify-content: center;
    align-items: center;
    margin: 30px 0px;
}

#scheduleBtnCtrDesktop button {
    background-color: #D4FAFA;
    border: 1px #D4FAFA solid;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    font-size: 24px;

}

#contact {
    background-color: white;
    margin-top: 30px;
    text-align: center;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2), 0px -2px 3px rgba(0, 0, 0, 0.2) ;
    padding: 20px 10px;
    font-size: 20px;
}

footer {
    display: flex;
    height: 200px;
    background-color: black;
    justify-content: center;
}

@media (width >= 1000px) {

    #numberBar {
        height: 50px;
    }

    #numberBar p {
        display: none;
    }

    #numberBar img{
        display: none;
    }

    #headerMain {
        justify-content: space-between;
        padding-left: 150px;
        padding-right: 150px;
    }

    .headerDesktop {
        display: block;
        font-size: 24px;
    }

    #desktopHeaderButtons {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .desktopNumber {
        background-color: rgba(211, 169, 113, 1);
        padding: 20px 10px;
        border-radius: 10px;
    }

    .desktopButton {
        padding: 20px 10px;
        background-color: rgba(211, 169, 113, 1);
        border-radius: 10px;
        border: 0px;
    }

    .desktopButton:hover {
        background-color: #D4FAFA;
    }

    #opener {
        background-image: url(./images/ChatGPT\ Image\ Apr\ 15\,\ 2025\,\ 11_19_55\ AM.png) !important;
        height: 400px;
        background-size: cover;
        align-items: center;
        justify-content: center;
    }

    #opener p {
        background-color: rgba(0, 0, 0, 0.5) ;
        color: white;
        font-size: 32px;
        padding: 10px 50px;
    }

    #serving ul {
        gap: 20px;
        font-size: 32px;
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
    }

    #serving li {
        font-size: 32px;
    }

    #scheduleBtnCtrMobile {
        display: none;
    } 

    #scheduleBtnCtrDesktop {
        display: flex;
    }

    #scheduleBtnCtrDesktop button:hover {
        background-color: white;
    }

    .card {
        display: none;
    }

    .cardDesktop {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr
    }
}
